@model leave_management.Models.ViewAllocationsVM

@{
    ViewData["Title"] = "Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details for - @Model.Employee.UserName</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.TaxId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.TaxId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DateJoined)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.DateJoined)
        </dd>
    </dl>
</div>



<hr/>

<h2>Leave Allocations</h2>
 
  
     <div>
        @foreach (var allocation in Model.Allocations)
        {
        <dl class="row">
            <dt class = "col-sm-3">
                @allocation.LeaveType.Name
            </dt>
            <dd class = "col-sm-1">
                @allocation.NumberOfDays
            </dd>
            <a asp-action="Edit" asp-route-id="@allocation.Id" class="col-sm-1 btn btn-outline-warning">
                <i class="fa fa-pencil"></i> Edit
            </a>
        </dl>
        }
     </div>

  

   <div>
       <a asp-action="Index">Back to List</a>
   </div>
